doctype html
html(lang='en')
  body
    form(action="/edit-save", method="post", enctype="multipart/form-data")
      div #{profile.uid}
      div
        | IF YOU DON'T CHECK THIS BOX YOUR PROFILE WON'T APPEAR ON THE WEBSITE:
        if profile.enabled == true
          input(type='checkbox', name="enabled", checked=true)
        else
          input(type='checkbox', name="enabled")
      div
        | Name:
        input(type="text", name="name", value="#{profile.name}")
      div
        | Website:
        input(type="text", name="website", value="#{profile.website}")
      div
        | Biography:
        textarea(type="text", name="biography") #{profile.biography}
      div
        | Image:
        input(type="file", name="image")
      div
        button(type="submit") Submit
      div
        img(src='/image/'+profile.uid)
