mixin show-section(show_name, show_date, show_location, show_def, show_def_src, carousel_images)
  .container-fluid(id=show_name)
    .container: .row: .col-md-12
      h1(class='text-center')= show_name
      h1(class='text-center')= show_date
      h1(class='text-center')= show_location
      blockquote.blockquote-reverse
        h2= show_def
        footer= show_def_src
      if carousel_images.length > 0
        carousel.slide(data-ride='carousel', id='carousel-'+show_name)
          ol.carousel-indicators
            each val, index in carousel_images
              if index == 0
                li.active(data-target='#carousel-'+show_name data-slide-to=index)
              else
                li(data-target='#carousel-'+show_name data-slide-to=index)
          .carousel-inner
            each val, index in carousel_images
              if index == 0
                .item.active: center
                  a(href='/static/'+val data-toggle='lightbox')
                    img.img-responsive(src='/static/'+val)
              else
                .item: center
                  a(href='/static/'+val data-toggle='lightbox')
                    img.img-responsive(src='/static/'+val)
          a(class='left carousel-control' href='#carousel-'+show_name data-slide='prev')
              span(class='glyphicon glyphicon-chevron-left')
          a(class='right carousel-control' href='#carousel-'+show_name data-slide='next')
              span(class='glyphicon glyphicon-chevron-right')
        br

doctype html
html(lang='en')
  head
    title='Lion\'s Main Art Collective'
    link(rel='shortcut icon' href='/static/icon.png')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css')
    script(src='//code.jquery.com/jquery-2.1.0.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(src='//use.typekit.net/amt5afx.js')
    link(rel='stylesheet', src='/static/ekko-lightbox.min.css')
    script(src='/static/ekko-lightbox.min.js')
    script(type='text/javascript').
      function js_init() {
        Typekit.load();
        $(window).on("hashchange", function () {
          window.scrollTo(window.scrollX, window.scrollY - $('#lm-nav').height());
        });
        $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
        $('#lm-nav').affix({
          offset: {
            top: $('#lm-header').height() - 10
          }
        });
        $('#lm-nav-container').css("min-height", $('#lm-nav-container').height());
      }
    style
      | .carousel-control {
      |   background-image: none !important;
      | }
      | #About {
      |   color: black;
      |   font-family: "cubano";
      |   background-image: url('/static/rockywall.png');
      | }
      | #Portals {
      |   color: white;
      |   font-family: "atrament-web";
      |   background-image: url('/static/escheresque_ste.png');
      | }
      | #Fever {
      |   color: black;
      |   font-family: "flood-std";
      |   background-image: url('/static/skulls.png');
      | }
      | #Gems {
      |   color: black;
      |   font-family: "sister-frisky";
      |   background-image: url('/static/congruent_pentagon.png');
      | }
      | #Collision {
      |   color: black;
      |   font-family: "sneakers-script";
      |   background-image: url('/static/old_mathematics.png');
      | }
      | #Eulogy {
      |   color: white;
      |   font-family: "jbt-annabelle";
      |   background-image: url('/static/pinstriped_suit.png');
      | }
      | .carousel-inner img {
      |   height: 500px !important;
      | }
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body(data-spy='scroll', data-target='#lm-nav', data-offset='60' onload='js_init()')
    .container-fluid#About: .container
      .row#lm-header: .col-md-12
        center
          img.img-responsive(src='/static/logo.png', vspace='20px')
      .row#lm-nav-container
        nav(id='lm-nav', class='navbar-default', role='navigation', style='top:10px;z-index:1000')
          .container
            .navbar-header
              button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='#lm-nav-content' style='margin:8px')
                span(class='sr-only') Toggle navigation
                span(class='icon-bar')
                span(class='icon-bar')
                span(class='icon-bar')
            #lm-nav-content.collapse.navbar-collapse
              ul(class='nav navbar-nav')
                li: a(href='#About') About Us
                li: a(href='#Portals') Portals
                li: a(href='#Fever') Fever
                li: a(href='#Gems') Gems
                li: a(href='#Collision') Collision
                li: a(href='#Eulogy') Eulogy
              ul(class='nav navbar-nav navbar-right')
                li: a(href='https://www.facebook.com/lionsmainartcollective') Facebook
                li: a(href='mailto:lionsmainart@gmail.com') Contact Us
      .row: .col-md-12
        h2.
          Lion’s Main Art Collective is a community of queer & trans artists that showcases innovative interdisciplinary art. We foster artistic growth and collaboration in a creative and supportive space.
        img.img-responsive(src='/static/people.jpg', vspace='20px')
    +show-section('Portals', 'Fall 2014', 'Location TBA', 'A door, gate, doorway, or gateway, of stately or elaborate construction; the entrance to a large or magnificent building, esp. when emphasized in architectural treatment; any door or gate', 'Oxford English Dictionary', [])
    +show-section('Fever', 'Tuesday, May 6, 2014', 'Gallery 1412', 'A state of intense nervous excitement, agitation, heat; an instance of this.', 'Oxford English Dictionary', ['fever_0.jpg', 'fever_1.jpg',  'fever_2.jpg', 'fever_3.jpg', 'fever_4.jpg'])
    +show-section('Gems', 'Tuesday, March 4, 2014', 'Gallery 1412', ' An object of rare beauty or priceless worth; the choicest part of (anything).', 'Oxford English Dictionary', ['gems_0.jpg', 'gems_1.jpg',  'gems_2.jpg', 'gems_3.jpg', 'gems_4.jpg'])
    +show-section('Collision', 'Tuesday, January 7, 2014', 'Gallery 1412', 'Coming into contact (with no notion of violent opposition or hostility); action of mind upon mind, or the like.', 'Oxford English Dictionary', ['collision_0.jpg', 'collision_1.jpg',  'collision_2.jpg', 'collision_3.jpg', 'collision_4.jpg'])
    +show-section('Eulogy', 'Tuesday, November 5, 2013', 'Gallery 1412', 'A speech or writing in commendation of the character and services of a person, or the qualities of a thing; esp. a set oration in honour of a deceased person.', 'Oxford English Dictionary', ['eulogy_0.jpg', 'eulogy_1.jpg',  'eulogy_2.jpg', 'eulogy_3.jpg', 'eulogy_4.jpg'])
