mixin show-section(show_name, show_id, show_date, show_location, show_def, show_def_src, carousel_images)
  .container-fluid(id=show_id, class='show_section')
    .container: .row: .col-md-12
      br
      br
      h1(class='text-center')!= show_name
      h2(class='text-center')!= show_date + ' - ' + show_location
      br
      blockquote.blockquote-reverse
        h3!= show_def
        footer!= show_def_src
      if carousel_images.length > 0
        br
        .carousel.slide(data-ride='carousel', id='carousel-'+show_id)
          ol.carousel-indicators
            each val, index in carousel_images
              if index == 0
                li.active(data-target='#carousel-'+show_id data-slide-to=index)
              else
                li(data-target='#carousel-'+show_id data-slide-to=index)
          .carousel-inner
            each val, index in carousel_images
              if index == 0
                .item.active: center
                  a(href='/static/'+val data-toggle='lightbox')
                    img.img-responsive(src='/static/'+val)
              else
                .item: center
                  a(href='/static/'+val data-toggle='lightbox')
                    img.img-responsive(src='/static/'+val)
          a(class='left carousel-control' href='#carousel-'+show_id data-slide='prev')
              span(class='glyphicon glyphicon-chevron-left')
          a(class='right carousel-control' href='#carousel-'+show_id data-slide='next')
              span(class='glyphicon glyphicon-chevron-right')
        br
      br
      br

mixin show-profile(profile)
  br
  h1: a(href=profile.website, target="__blank")= profile.name
  h3= profile.biography
  br

doctype html
html(lang='en')
  head
    title='Lion\'s Main Art Collective'
    link(rel='shortcut icon' href='/static/icon.png')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    script(src='//code.jquery.com/jquery-2.1.1.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(src='//use.typekit.net/amt5afx.js')
    link(rel='stylesheet', src='/static/ekko-lightbox.min.css')
    script(src='/static/ekko-lightbox.min.js')
    script(type='text/javascript').
      Typekit.load();
      function js_init() {
        $(window).on("hashchange", function () {
          window.scrollTo(window.scrollX, window.scrollY - $('#lm-nav').height());
        });
        $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
        $('#lm-nav').affix({
          offset: {
            top: $('#lm-header').height() - 10
          }
        });
        $('#lm-nav-container').css("min-height", $('#lm-nav').height());
      }
    style
      | .carousel-control {
      |   background-image: none !important;
      | }
      | .show_section a {
      |   color: black !important;
      |   text-decoration: underline !important;
      | }
      | #About, #Artists {
      |   color: black;
      |   font-family: "cubano";
      |   background-image: url('/static/tree_bark.png');
      | }
      | #Shorts {
      |   color: black;
      |   font-family: "carbon";
      |   background-image: url('/static/logo_x_pattern.png');
      | }
      | #Portals {
      |   color: white;
      |   font-family: "source-code-pro";
      |   background-image: url('/static/escheresque_ste.png');
      | }
      | #Fever {
      |   color: black;
      |   font-family: "flood-std";
      |   background-image: url('/static/dimension.png');
      | }
      | #Gems {
      |   color: black;
      |   font-family: "sister-frisky";
      |   background-image: url('/static/congruent_pentagon.png');
      | }
      | #Collision {
      |   color: black;
      |   font-family: "mono45-headline";
      |   background-image: url('/static/rockywall.png');
      | }
      | #Eulogy {
      |   color: white;
      |   font-family: "jbt-annabelle";
      |   background-image: url('/static/pinstriped_suit.png');
      | }
      | .carousel-inner img {
      |   max-height: 500px !important;
      | }
      | .carousel-inner {
      |   max-height: 500px !important;
      | }
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body(data-spy='scroll', data-target='#lm-nav', data-offset='60' onload='js_init()')
    .container-fluid#About: .container
      .row#lm-header: .col-md-12
        center
          img.img-responsive(src='/static/logo.png', vspace='20px')
      .row#lm-nav-container
        nav(id='lm-nav', class='navbar-default', role='navigation', style='top:10px;z-index:1000')
          .container
            .navbar-header
              button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='#lm-nav-content' style='margin:8px')
                span(class='sr-only') Toggle navigation
                span(class='icon-bar')
                span(class='icon-bar')
                span(class='icon-bar')
            #lm-nav-content.collapse.navbar-collapse
              ul(class='nav navbar-nav')
                li: a(href='#About') About Us
                li: a(href='#Shorts') Shorts
                li: a(href='#Portals') Portals
                li: a(href='#Fever') Fever
                li: a(href='#Gems') Gems
                li: a(href='#Collision') Collision
                li: a(href='#Eulogy') Eulogy
                li: a(href='#Artists') Artists
              ul(class='nav navbar-nav navbar-right')
                li: a(href='https://www.facebook.com/lionsmainartcollective' target='_blank') Facebook
                li: a(href='mailto:lionsmainart@gmail.com') Contact Us
                li: a(href='https://co.clickandpledge.com/Default.aspx?WID=91823') Donate
      .row: .col-md-12
        br
        h3.
          Lion’s Main Art Collective is a community of queer & trans artists that showcases innovative interdisciplinary art. We foster artistic growth and collaboration in a creative and supportive space.
        br
        img.img-responsive(src='/static/people.jpg', vspace='20px')
        br
    +show-section('Film Festival', 'Shorts', 'Thursday, January 8, 2015', '<a href="http://central-cinema.com/">Central Cinema</a>', 'The Lion\'s Main Art Collective is partnering with Central Cinema to create a night of Trans and Queer short films from local Washington artists. We\'ll be awarding a $100 prize selected by our curation team and a $50 prize selected by the audience, to help artists create more work in the future. <a href="https://filmfreeway.com/festival/lionsmainart">Submit today!</a>', 'The Lions', [])
    +show-section('Portals', 'Portals', 'Friday, September 19, 2014', 'SODO Commerce Building', 'A small glimpse into an alternate reality, or a means of traveling between realities. A gateway, a peephole, a liminal threshold, a porous barrier, a hole to transformative spaces.', 'The Lions', ['portals_0.jpg','portals_1.jpg', 'portals_2.jpg', 'portals_3.jpg', 'portals_4.jpg'])
    +show-section('Fever', 'Fever', 'Tuesday, May 6, 2014', 'Gallery 1412', 'A state of intense nervous excitement, agitation, heat; an instance of this.', 'Oxford English Dictionary', ['fever_0.jpg', 'fever_1.jpg',  'fever_2.jpg', 'fever_3.jpg', 'fever_4.jpg'])
    +show-section('Gems', 'Gems', 'Tuesday, March 4, 2014', 'Gallery 1412', ' An object of rare beauty or priceless worth; the choicest part of (anything).', 'Oxford English Dictionary', ['gems_0.jpg', 'gems_1.jpg',  'gems_2.jpg', 'gems_3.jpg', 'gems_4.jpg'])
    +show-section('Collision', 'Collision', 'Tuesday, January 7, 2014', 'Gallery 1412', 'Coming into contact (with no notion of violent opposition or hostility); action of mind upon mind, or the like.', 'Oxford English Dictionary', ['collision_0.jpg', 'collision_1.jpg',  'collision_2.jpg', 'collision_3.jpg', 'collision_4.jpg'])
    +show-section('Eulogy', 'Eulogy', 'Tuesday, November 5, 2013', 'Gallery 1412', 'A speech or writing in commendation of the character and services of a person, or the qualities of a thing; esp. a set oration in honour of a deceased person.', 'Oxford English Dictionary', ['eulogy_0.jpg', 'eulogy_1.jpg',  'eulogy_2.jpg', 'eulogy_3.jpg', 'eulogy_4.jpg'])
    .container-fluid(id='Artists', class='show_section')
      .container: .row: .col-md-12
        br
        each profile in profiles
          +show-profile(profile)
        br
