extends ./template.jade

mixin show-section(show_name, show_id, show_info_a, show_info_b, show_def, show_def_src, carousel_images)
  .container-fluid(id=show_id, class='show_section')
    .container: .row: .col-md-12
      br
      br
      h1(class='text-center')!= show_name
      h2(class='text-center')!= show_info_a
      h2(class='text-center')!= show_info_b
      br
      blockquote.blockquote-reverse
        h3!= show_def
        footer!= show_def_src
      if carousel_images.length > 0
        br
        .carousel.slide(data-ride='carousel', id='carousel-'+show_id)
          ol.carousel-indicators
            each val, index in carousel_images
              if index == 0
                li.active(data-target='#carousel-'+show_id data-slide-to=index)
              else
                li(data-target='#carousel-'+show_id data-slide-to=index)
          .carousel-inner
            each val, index in carousel_images
              if index == 0
                .item.active: center
                  a(href='/static/'+val data-toggle='lightbox')
                    img.img-responsive(src='/static/'+val)
              else
                .item: center
                  a(href='/static/'+val data-toggle='lightbox')
                    img.img-responsive(src='/static/'+val)
          a(class='left carousel-control' href='#carousel-'+show_id data-slide='prev')
              span(class='glyphicon glyphicon-chevron-left')
          a(class='right carousel-control' href='#carousel-'+show_id data-slide='next')
              span(class='glyphicon glyphicon-chevron-right')
        br
      br
      br

block content
  +show-section('Erasure', 'Erasure', 'Saturday, November 7, 2015', 'Location TBD', 'The process of erasing takes many forms in works and community, we invite artists working in a wide range of media to interpret erasure as they see it. Erasure is a one night pop-up show that speaks to the collective experiences of erasure.', 'The Lions', ['erasure_0.png'])
  +show-section('QTone: Queer Filmmakers of Color', 'QTone', '<a href="https://www.facebook.com/events/409303425929073/">Thursday, September 24, 2015 at Central Cinema</a>', '<a href="https://www.facebook.com/events/791073531010406/">Sunday, September 27, 2015 at Youngstown Cultural Arts Center</a>', 'The Lion\'s Main Art Collective is bringing you a QTone, a Film Festival featuring Queer Filmmakers of Color.', 'The Lions', ['qtone_0.jpg'])
  +show-section('Biophilia', 'Biophilia', 'Zine Submissions due Wednesday, June 3, 2015', '<a href="email:lionsmainart@gmail.com">lionsmainart@gmail.com</a>, subject "biophilia - name"', 'The biophilia hypothesis suggests that there is an instinctive bond between human beings and other living systems.', 'Wikipedia', ['biophilia_0.jpg','biophilia_1.jpg', 'biophilia_2.jpg', 'biophilia_3.jpg', 'biophilia_4.jpg'])
  +show-section('Trans and Queer Film Festival', 'Shorts', 'Thursday, January 8, 2015 at <a href="http://central-cinema.com/">Central Cinema</a>', 'Saturday, February 8, 2015 at <a href="http://www.youngstownarts.org/">Youngstown Cultural Arts Center</a>', 'The Lion\'s Main Art Collective is partnering with Central Cinema and Youngstown Cultural Arts Center to bring you Trans and Queer short films from local Washington artists. We awarded a $150 prize selected by the audience to help artists create more work in the future.', 'The Lions', ['film_0.jpg', 'film_2.jpg', 'film_3.jpg', 'film_4.jpg'])
  +show-section('Portals', 'Portals', 'Friday, September 19, 2014', 'SODO Commerce Building', 'A small glimpse into an alternate reality, or a means of traveling between realities. A gateway, a peephole, a liminal threshold, a porous barrier, a hole to transformative spaces.', 'The Lions', ['portals_0.jpg','portals_1.jpg', 'portals_2.jpg', 'portals_3.jpg', 'portals_4.jpg'])
  +show-section('Fever', 'Fever', 'Tuesday, May 6, 2014', 'Gallery 1412', 'A state of intense nervous excitement, agitation, heat; an instance of this.', 'Oxford English Dictionary', ['fever_0.jpg', 'fever_1.jpg',  'fever_2.jpg', 'fever_3.jpg', 'fever_4.jpg'])
  +show-section('Gems', 'Gems', 'Tuesday, March 4, 2014', 'Gallery 1412', ' An object of rare beauty or priceless worth; the choicest part of (anything).', 'Oxford English Dictionary', ['gems_0.jpg', 'gems_1.jpg',  'gems_2.jpg', 'gems_3.jpg', 'gems_4.jpg'])
  +show-section('Collision', 'Collision', 'Tuesday, January 7, 2014', 'Gallery 1412', 'Coming into contact (with no notion of violent opposition or hostility); action of mind upon mind, or the like.', 'Oxford English Dictionary', ['collision_0.jpg', 'collision_1.jpg',  'collision_2.jpg', 'collision_3.jpg', 'collision_4.jpg'])
  +show-section('Eulogy', 'Eulogy', 'Tuesday, November 5, 2013', 'Gallery 1412', 'A speech or writing in commendation of the character and services of a person, or the qualities of a thing; esp. a set oration in honour of a deceased person.', 'Oxford English Dictionary', ['eulogy_0.jpg', 'eulogy_1.jpg',  'eulogy_2.jpg', 'eulogy_3.jpg', 'eulogy_4.jpg'])
